.background {
  display: block;
  overflow: auto;
  height:100%;
  background-repeat: repeat;
  padding: 10px
}

.nav, .content  {
  background-color: #E6ECEA;
}

.nav {
  text-align:center;
  border:7px inset #6F5B7E;
  margin:10px auto;
  max-width:500px;
  padding:10px;
}

.nav h1 {
  letter-spacing: 20px;
}

.nav h2 {
  letter-spacing: 20px;
  font-weight: lighter;
  font-size: 20px;
  margin-top:0;
}

.nav li {
  border:5px outset #6F5B7E;
  margin: 5px;
  letter-spacing: 3px;
  padding:3px;
}

.table {
  display: table;
}

.content {
  display: block;
  overflow: auto;
  margin:auto;
  text-align: center;
  border: 7px inset #6F5B7E;
  margin-bottom: 10px;
  max-width:500px;
  padding: 15px;
}

.content h1 {
  text-align: left;
  font-size: 25px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-top:0;
  letter-spacing: 10px;
}

.content h2 {
  font-size: 18px;
  text-align: right;
  font-weight: normal;
}

.content h3 {
  text-align: right;
  font-weight: lighter;
  font-size: 15px;
  font-style: italic;
}

.footer {
  margin: auto;
  text-align: center;
  max-width:500px;
  font-size:12px;
  background-color: transparent;
  color: white;
}